body {
}
img {
  width: 800px
  ;height: 500px;
  margin: left 30px; ;
}
h1 {
  text-align: center;

 
}
nav {
  display: block
  height: 5px;
  align-items: center;
  text-align: center;
  background:grey ;
  padding :left 10px, right 10px
  
}
#featured-property {
text-align: center;
align-items: center;
display: block;
justify-content: center;

}
#details {
display: flex;
justify-content: space-evenly;
background:red ;
text-align: center;
align-items: center;
}